
.inviteDialog {
    background: none;
    border: none;
}


.inviteDialog::backdrop{
    background-color: black;
    opacity: 0.3;
}

.people-list{
    color: var(--textColor);
    overflow-y: scroll;
    overflow-x: hidden;
}

.person-row{
    border-bottom: var(--navColor) 2px solid;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.person-row div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.person-row .username{
    color: rgb(124, 124, 124);
    margin-left: 10px;
}

.person-row .kick {
    background-color: var(--warningColor);
    color: var(--navColor);
    height: 45px;
}

.victim {
    color: var(--warningColor)
}

.row .yes {
    background-color: var(--warningColor);
    
}

.row {
    display: flex;
    gap: 10px;
    font-size: 1.5em;
    padding: 10px 20px;
    justify-content: space-between;
}

.kick {
    max-width: 700px;
    border: none;
    border-radius: 20px;
}

.kick h1{
    line-height: 1.5em;
}

.teacher {
    color: var(--submitColor);
    margin-right: 10px;
    text-decoration: underline;
    text-underline-offset: 4px;
}