
#render-target{
    width: 100vw;
    height: 100vh;
}

#loading{
    text-align: center;
}

#start{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(50px) brightness(0.8);
}

.start button{
    padding: 15px 40px;
    font-size: 2rem;
}

#savash-img{
    background-image: url("/savash-img.png");
    padding: 200px 100px 0px 10px;
    background-size: 100% 100%;
    margin: 20px;
    border-radius: 1rem;
    display: inline-block;
}

#savash-img h2{
    color: var(--textColor);
    font-size: 3rem;
    line-height: 0.1em;
}

#savash-img:hover{
    scale: 1.01;
}