.assignment-list{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.assignment-list .row{
    border-bottom: 2px var(--navColor) solid;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.assignment-list .left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.assignment-list img{
    height: 32px;
}

.noAssignments {
    margin: 10px 20px;
}