
.HomeNav .logo {
    width: 40px;
    height: 40px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.HomeNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: var(--navColor);
    position: sticky;
    top: 0px;
    z-index: 1000;
    width: 100%;
}

.HomeNav .left, .HomeNav .center, .HomeNav .right{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 13px 20px;
}

.HomeNav a:has(.logo) {
    height: 40px;
}

.HomeNav li{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--textColor);
}

.HomeNav p{
    cursor: pointer;
}

.HomeNav .register{
    background-color: var(--submitColor);
}

.HomeNav img{
    width: 2rem;
}

.HomeNav a {
    display: flex;
    align-items: center;
}

.HomeNav .rotate-90deg {
    rotate: -90deg;
}

.HomeNav p{
    margin: 0;
    
}

.HomeNav .gray {
    background-color: var(--midColor);
}

.HomeNav .inbox{
    position: relative;
}

.HomeNav .inbox.new ::after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 50%;
    background-color: red;
}