
div.content{
    height: 500px;
    width: 100%;
}

body{
    transition: filter 3s;
}

#potion{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    animation: scale 1s infinite;
    cursor: pointer;
    background: url("/potion-back.png");
    background-size: 120px 120px;
    background-position: -15px 0px;
    transition: filter 3s;
}

#potion:hover{
    animation: none;
    scale: 1.3;
}

@keyframes scale{
    0%{
        scale: 1;
        background-size: 100px 100px;
        background-position: -5px 10px;
    }
    50%{
        scale: 1.2;
        background-size: 150px 150px;
        background-position: -30px -10px;
    }
    100%{
        scale: 1;
        background-size: 100px 100px;
        background-position: -5px 10px;
    }
}

.bubble{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50px;
    position: fixed;
    bottom: -10000px;
    z-index: 9999;
    border: dashed 5px rgb(226, 221, 207);
}

.bubble-title{
    position: fixed;
    left: 25vw;
    font-size: 8rem;
    text-align: center;
    color: aliceblue;
    bottom: -10000px;
}


@keyframes bubble {
    from{
        top: 120vh;
        opacity: 1;
    }
    to{
        top: -400px;
        opacity: 0.3;
    }
}

.pendulum{
    position: fixed;
    top: -50%;
    transform-origin: 50% -10%;
    left: 40svw;
    rotate: -90deg;
}

.pendulum-charm{
    position: fixed;
    transform-origin: 50% -10%;
    top: -50%;
    left: 40svw;
    rotate: -90deg;
    filter: none;
}

.swing{
    animation: swing 3s 2 ease-in-out;
    filter: hue-rotate(90deg);
    transition: filter 3s;
}

@keyframes swing{
    0%{
        rotate: -90deg;
    }
    50%{
        rotate: 90deg;
    }
    100%{
        rotate: -90deg;
    }
}

.procras{
    position: fixed;
    right: 0px;
    bottom: 80px;
    cursor: default;
    opacity: 0;
    transition: opacity 0.5s;
} 

.procras.show{
    opacity: 1;
}