
.tab-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--navColor);
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.tab-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tab {
    padding: 10px 20px;
    background-color: var(--backgroundColor);
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    box-shadow: inset 0px -10px 20px 10px rgba(0, 0, 0, 0.219);
}

.tab.selected {
    background-color: var(--tabBackgroundColor);
    box-shadow: none;
}

.tab-content {
    background-color: var(--tabBackgroundColor);
    min-height: 500px;
    border-radius: 15px;
}

.tab-content .content.hidden {
    display: none;
}